.p1{
			font color: #E1C78F;
	}
seven{
	text-align: center;
	font-family: cursive;
	font-size: 10px;
}
.one{
			background-color: #0C356A;
			border-right: 70px solid #0C356A;
			border-left: 70px solid #0C356A;
			border-top: 50px solid #0C356A;
			border-bottom: 50px solid #0C356A;
		}